# Erd√∂s Institute
## Data Science Boot Camp Project: Police Interaction
---

In [1]:
import pandas as pd
df = pd.read_csv('/Users/patrickma1994/Documents/data.tsv', sep='\t',dtype='str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130122 entries, 0 to 130121
Columns: 277 entries, SCRMCTRL to V353
dtypes: object(277)
memory usage: 275.0+ MB

In [2]:
# Checking if the value satisfy the codebook
print(df['V347'].value_counts())
list(df.columns)

V347
9     112008
1      16628
2        903
3        529
8         40
98        14
Name: count, dtype: int64

['SCRMCTRL',
 'PPCSWGT',
 'SEQNUM',
 'SEX',
 'AGE',
 'INTTYPE',
 'NONINT',
 'HISP',
 'MODE',
 'PSSTRATA',
 'SECUCODE',
 'INCOME',
 'V10A',
 'V10B',
 'V10C',
 'V10D',
 'V10E',
 'V10F',
 'V10G',
 'V10H',
 'V10I',
 'V10J',
 'V10K',
 'V10L',
 'V10M',
 'V10N',
 'V22A',
 'V22B',
 'V22C',
 'V22D',
 'V22E',
 'V22F',
 'V22G',
 'V22H',
 'V22I',
 'V22J',
 'V22K',
 'V22L',
 'V22M',
 'V22N',
 'V22O',
 'V22P',
 'V23A',
 'V23B',
 'V23C',
 'V23D',
 'V23E',
 'V23F',
 'V23G',
 'V23H',
 'V23I',
 'V23J',
 'V23K',
 'V23L',
 'V23M',
 'V23N',
 'V23O',
 'V23P',
 'V23Q',
 'V23R',
 'V23S',
 'V1',
 'V23T',
 'V23U',
 'V23V',
 'V23W',
 'V23X',
 'V23Y',
 'V23Z',
 'V24A',
 'V24B',
 'V24C',
 'V24J',
 'V24D',
 'V24E',
 'V24F',
 'V24G',
 'V24H',
 'V24I',
 'CHECK_ITEM_B',
 'CHECK_ITEM_B1A',
 'CHECK_ITEM_B1B',
 'CHECK_ITEM_B1C',
 'CHECK_ITEM_B1D',
 'CHECK_ITEM_B1E',
 'CHECK_ITEM_B1F',
 'CHECK_ITEM_B1G',
 'CHECK_ITEM_B1H',
 'CHECK_ITEM_B1I',
 'CHECK_ITEM_B1J',
 'CHECK_ITEM_B1K',
 'V32',
 'CHECK_ITEM_B2A',
 'CHECK_ITEM_B2B',
 'CHECK_ITEM_B2C',
 'CHECK_ITEM_B2D',
 'CHECK_ITEM_B2E',
 'CHECK_ITEM_B2F',
 'CHECK_ITEM_B2G',
 'CHECK_ITEM_B2H',
 'CHECK_ITEM_B2I',
 'CHECK_ITEM_B2J',
 'CHECK_ITEM_B2K',
 'V33',
 'V33A',
 'V344',
 'V345',
 'V346',
 'CHECK_ITEM_B3A',
 'CHECK_ITEM_B3B',
 'CHECK_ITEM_B3C',
 'CHECK_ITEM_B3D',
 'CHECK_ITEM_B3E',
 'CHECK_ITEM_B3F',
 'CHECK_ITEM_B3G',
 'CHECK_ITEM_B3H',
 'CHECK_ITEM_B3I',
 'CHECK_ITEM_B3J',
 'CHECK_ITEM_B3K',
 'V36',
 'V38',
 'V34',
 'V35',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'CHECK_ITEM_C',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V62',
 'V63',
 'V64',
 'V66',
 'V205',
 'V206',
 'V210',
 'V211',
 'V212',
 'V213',
 'V230',
 'V231',
 'V214',
 'V215',
 'V216',
 'V217',
 'V218',
 'V219',
 'V220',
 'V221',
 'V222',
 'V223',
 'V224',
 'V225',
 'V226',
 'V227',
 'V232',
 'V233',
 'V234',
 'V228',
 'V229',
 'V246',
 'V247',
 'V248',
 'V250',
 'V251',
 'V65',
 'V67A',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74A',
 'V74B',
 'V74C',
 'V74D',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'CHECK_ITEM_D',
 'V81',
 'V249',
 'V321',
 'V322',
 'V323',
 'CHECK_ITEM_E',
 'V324',
 'V327',
 'V333',
 'CHECK_ITEM_F',
 'V325',
 'V332',
 'CHECK_ITEM_G',
 'V334',
 'CHECK_ITEM_H',
 'V335',
 'V279',
 'V280',
 'V281',
 'V282',
 'V283',
 'V284',
 'V285',
 'V286',
 'V287',
 'V288',
 'V291',
 'V292',
 'V299',
 'V320',
 'V320A',
 'V300',
 'CHECK_ITEM_I',
 'V304',
 'V305',
 'V306',
 'V307',
 'V308',
 'V309',
 'V310',
 'V311',
 'V312',
 'V313',
 'V314',
 'V315',
 'V316',
 'V317',
 'V318',
 'V319',
 'V328',
 'V329',
 'V330',
 'V337',
 'V338',
 'V339',
 'V340',
 'V341',
 'V342',
 'V347',
 'V347A',
 'V347D',
 'V347E',
 'V347F',
 'V347G',
 'V347H',
 'V348',
 'V349',
 'V350B',
 'V350C',
 'CHECK_ITEM_J',
 'V351A',
 'V351B',
 'CHECK_ITEM_K',
 'V352A',
 'V352B',
 'V352C',
 'V352D',
 'V352E',
 'V352F',
 'CHECK_ITEM_L',
 'V353']

In [3]:
df_m = df[['AGE', 'HISP', 'SEX', 'INCOME', 'V347']].rename(columns={'V347': 'proper_behave'})
df_m.head()

  AGE HISP SEX INCOME proper_behave
0   3    3   2      3             9
1   3    3   1      3             9
2   3    1   2      4             9
3   3    1   1      4             9
4   4    1   2      3             9

In [4]:
# Convert columns to categorical
df_m['AGE'] = pd.Categorical(df_m['AGE'])
df_m['HISP'] = pd.Categorical(df_m['HISP'])
df_m['SEX'] = pd.Categorical(df_m['SEX'])
df_m['INCOME'] = pd.Categorical(df_m['INCOME'])

# Filter rows where proper_behave is 1 or 2
df_m = df_m[df_m['proper_behave'].isin(['1', '2'])]

# Remap proper_behave values
df_m['proper_behave'] = df_m['proper_behave'].map({'1': 1, '2': 0})

# Convert proper_behave to numeric and checking the column number
#df_m['proper_behave'] = pd.to_numeric(df_m['proper_behave'])
df_m.shape 
#df_m.head()
# Check missing values in all columns
print("Missing values in each column:")
print(df_m.isnull().sum())
# Seems to be no missing values to the current dataset

Missing values in each column:
AGE              0
HISP             0
SEX              0
INCOME           0
proper_behave    0
dtype: int64

The following codes drops missing values, but our data doesn't have missing values for the features selected.

In [6]:
# Drop rows with missing values in AGE, HISP, SEX, and INCOME
df_m = df_m.dropna(subset=['AGE', 'HISP', 'SEX', 'INCOME'])

# Verify the shape after dropping missing values
print("\nDataFrame shape after dropping missing values:")
print(df_m.shape)

# Verify there are no more missing values in these columns
print("\nRemaining missing values:")
print(df_m[['AGE', 'HISP', 'SEX', 'INCOME']].isnull().sum())

DataFrame shape after dropping missing values:
(17531, 5)

Remaining missing values:
AGE       0
HISP      0
SEX       0
INCOME    0
dtype: int64